    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html {
    scroll-behavior: smooth;
    }

    body {
    font-family: Arial, sans-serif;
    }

    /* الصفحة الأولى (الصورة والنص) */
    .page1 {
    height: 100vh;
    background-image: url('1.png'); /* غيّري اسم الصورة حسب ملفك */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .page1 h1 {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 50px;
    color: #517eb9;
    position: absolute; /* تسمح لك تتحكمين بالمكان */
    top: 250px;  /* المسافة من الأعلى */
    left:400px;
    text-align: center;
    text-shadow: 2px 2px 5px white;
    animation: wave 4s ease-in-out infinite;
    }

    /* الصفحة الثانية (الأكوردين) */
    .page10 {
    min-height: 100vh;
    background: linear-gradient(to bottom, #e1f5fe, #bbdefb);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    transition: all 1s ease;
    }

    .accordion-button {
    background-color: #64b5f6;
    color: white;
    font-weight: bold;
    }

    .accordion-button:focus {
    box-shadow: none;
    }

    .accordion-body {
    background-color: #fff;
    color: #333;
    }

    /* حركة النص */
    @keyframes wave {
    0%, 100% { transform: translateY(0px); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(5px); }
    75% { transform: translateY(-5px); }
    }
